.blue .gs .axe {
  display: none; }
.blue .gs path {
  stroke: black;
  fill: none; }
.blue .gs .gridX line, .blue .gs .gridY line {
  stroke-width: 1px;
  stroke: silver;
  stroke-dasharray: 5 5; }
.blue .gs .gridX text {
  transform: translate(0, 8px); }
.blue .gs .gridY text {
  transform: translate(-8px, 0); }

.red .gs g:not(#waveformGroup) path {
  display: none; }
.red .gs .axe {
  stroke-width: 1px;
  stroke: black; }
.red .gs .gridX line, .red .gs .gridY line {
  display: none; }
.red .gs .gridX text, .red .gs .gridY text {
  display: none; }
.red .gs path {
  stroke: black;
  fill: none; }
