ul.controls {
  list-style-type: none; }
  ul.controls li a {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-size: 150%;
    font-weight: bold;
    font-family: serif;
    opacity: 0.2; }
  ul.controls li a:target {
    opacity: 1; }
