rect {
  opacity: 0.1; }

rect:nth-of-type(odd) {
  fill: blue; }

rect:nth-of-type(even) {
  fill: green; }

line {
  stroke: black; }

text.help {
  transform: translate(0, 0.25em); }

.gs path.surface {
  stroke: none;
  fill: none; }
.gs #waveformGroup path {
  display: visible;
  stroke-width: 2.5px;
  fill: none;
  stroke: black; }
.gs .axe {
  visibility: hidden; }
.gs path {
  stroke: black;
  fill: none; }
.gs .gridX line, .gs .gridY line {
  stroke-width: 1px;
  stroke: silver;
  stroke-dasharray: 5 5; }
.gs .gridX text {
  transform: translate(0, 8px); }
.gs .gridY text {
  transform: translate(-8px, 0); }

.noGrid .gs .axe, .gs.noGrid .axe {
  stroke-width: 1px;
  stroke: black;
  visibility: visible; }
.noGrid .gs .gridX line, .noGrid .gs .gridY line, .gs.noGrid .gridX line, .gs.noGrid .gridY line {
  display: none; }
.noGrid .gs .gridX text, .noGrid .gs .gridY text, .gs.noGrid .gridX text, .gs.noGrid .gridY text {
  display: none; }
.noGrid .gs path.domain, .gs.noGrid path.domain {
  display: none; }
