.axe {
  display: none; }

path {
  stroke: black;
  fill: none; }

.gridX line, .gridY line {
  stroke-width: 1px;
  stroke: silver;
  stroke-dasharray: 5 5; }

.gridX text {
  transform: translate(0, 8px); }

.gridY text {
  transform: translate(-8px, 0); }

path.surface {
  stroke: none;
  fill: none; }

#waveformGroup path {
  display: visible;
  stroke-width: 2.5px;
  fill: none; }

#waveformGroup path:nth-child(1) {
  stroke: #4d66b3; }

#waveformGroup path:nth-child(2) {
  stroke: #4db3b3; }

#waveformGroup path:nth-child(3) {
  stroke: #4db366; }

#waveformGroup path:nth-child(4) {
  stroke: #80b34d; }

#waveformGroup path:nth-child(5) {
  stroke: #b3994d; }

#waveformGroup path:nth-child(6) {
  stroke: #b34d4d; }

#waveformGroup path:nth-child(7) {
  stroke: #b34d99; }

#waveformGroup path:nth-child(8) {
  stroke: #804db3; }
