#content {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}
svg {
	margin-left:auto ;
	margin-right: auto;
	display: block;
}
.graphcurve {
	width: 550px;
	height: 250px;
}

.square {
	width: 450px;
	height: 350px;
}

.galleryTile {
width: 200px;
height: 200px;
float: left;
overflow: hidden;
border: 1px solid black;
padding:0px;
margin: 5px;
transition: all ease .05s;
}

.galleryTile svg.graphcurve {
transform: scale(0.9);
transform-origin: 0% 0%;
}

.galleryTile svg.square {
transform: scale(0.60);
transform-origin: 0% 0%;
}
.galleryTile:hover {
transform: scale(1.03);
}
