body {
	background-color: hsl(0, 0%, 35%);
}

div {
	border-radius: 4px;
}

#content {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: white;
	padding: 20px;
	border: 1px solid black;
	box-shadow: 0px 0px 20px black;
}

svg {
	margin-left:auto ;
	margin-right: auto;
	display: block;
 max-width: 100vw;
}
.graphcurve {
	width: 550px;
	height: 250px;
}

.square {
	width: 450px;
	height: 350px;
}

.galleryTile {
	width: 200px;
	height: 200px;
	background-color: white;
	overflow: hidden;
	border: 1px solid black;
	padding:0px;
	margin-bottom: 20px;
	transition: all ease .05s;
}

.galleryTile svg.graphcurve {
	transform: scale(0.9);
	transform-origin: 0% 0%;
}

.galleryTile svg.square {
	transform: scale(0.60);
	transform-origin: 0% 0%;
}
.galleryTile:hover {
	transform: scale(1.0);
}

.galleryTile pre {
	display: none;
}
