ul.nav {
  padding-left: 2px;
}

ul.nav li {
  display: inline;
  margin-left: 6px;
  margin-right: 6px;
}

ul.nav li:not(:first-child):before {
	content: "|";
  margin-left:5px;
  margin-right: 5px;
}

a:visited {
  color: inherit;
}
a:hover {
color: blue;
}

.nav a{
  text-decoration-line: unset;
}
