ul.nav {
	font-weight: bold;
	font-size: 10pt;
	margin-top: 0px;
	margin-bottom: 30px;
	padding-left: 2px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 0px 3px 5px gray;
}

ul.nav li {
	display: inline;
	margin-left: 6px;
	margin-right: 6px;
}

ul.nav li:not(:first-child):before {
	content: "|";
	margin-left:5px;
	margin-right: 5px;
}

.nav a {
	text-decoration:none;
}

.nav a {
	color:inherit;
}

a:visited {
	color: inherit;
}

a:hover {
	color: blue;
}

.nav a{
	text-decoration-line: unset;
}

a.active {
	color:orange;
}
