.axe {
  display: none; }

path {
  stroke: black;
  fill: none; }

.gridX line, .gridY line {
  stroke-width: 1px;
  stroke: silver;
  stroke-dasharray: 5 5; }

.gridX text {
  transform: translate(0, 8px); }

.gridY text {
  transform: translate(-8px, 0); }

path.surface {
  stroke: none;
  fill: none; }

#waveformGroup path {
  display: visible;
  stroke-width: 1.5px;
  fill: none; }

#waveformGroup path:nth-child(1) {
  stroke: #4d66b3; }

#waveformGroup path:nth-child(2) {
  stroke: #4db3b3; }

#waveformGroup path:nth-child(3) {
  stroke: #4db366; }

#waveformGroup path:nth-child(4) {
  stroke: #80b34d; }

#waveformGroup path:nth-child(5) {
  stroke: #b3994d; }

#waveformGroup path:nth-child(6) {
  stroke: #b34d4d; }

#waveformGroup path:nth-child(7) {
  stroke: #b34d99; }

#waveformGroup path:nth-child(8) {
  stroke: #804db3; }

html, body {
  font-size: 4mm;
  height: 100vh;
  overflow: hidden;
  max-height: 100vh; }

h1 {
  text-align: center; }

.ventyamlSource {
  box-sizing: border-box;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  transition: all 1s;
  overflow: scroll;
  width: 35%;
  font-weight: normal;
  line-height: 140%;
  font-size: 120%;
  margin: 0px;
  padding: 6px; }

.gs {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 200px; }

.gs.loop {
  width: 50%;
  height: 300px; }

.gs.loop:only-of-type {
  width: 100%;
  height: 100%; }

div.vyamlwc {
  box-sizing: border-box;
  float: right;
  width: 64%;
  margin-left: 0px; }

div.vyamlwc, .ventyamlSource, .CodeMirror, div#downloads {
  border: 2px solid silver;
  border-radius: 4px; }

div.vyamlwc, .ventyamlSource, .CodeMirror {
  height: calc(100vh - 140px);
  overflow: scroll; }

div#downloads {
  padding: 5px; }

figure.ventyaml {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

ul.menu {
  text-align: right;
  background-color: #333333; }
  ul.menu > li {
    color: white;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: none; }
    ul.menu > li a {
      color: inherit; }

#downloads > a {
  padding-left: 10px;
  padding-right: 10px; }
