body {
	overflow-x: hidden;
}

div.graph {
	width: 100%;
	height: 175px;
	margin-bottom: 10px;
}

#control {
	position: fixed;
	max-height: 100%;
	overflow: scroll;
	right: 0px;
	top: 50%;
	transform: translate(0%, -50%);
	text-align:center;
	background-color: white;
	padding: 5px;
	border: 1px solid black;
	box-shadow: 0px 0px 20px black;
	box-shadow: 0px 0px 20px;
	transition: all 1s ease;
}
#control.hidden {
	transform: translate(100%, -50%);
}

#control table {
	width: 100%;
}
caption {
	background-color: hsl(0, 0%, 30%);
	color: white;
	padding: 2px;
	font-weight: bold;
	margin-bottom: 3px;
}
#control select {
	width: 90%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#control td input {
	width: 50px;
	text-align: right;
}

td {
	background-color: white;
	text-align: left;
	padding: 3px;
	/*
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: none;
	border-right: none;
	*/
	border:none;
}

tr {
	border-bottom: 1px solid silver;
}

td.data {
	text-align:right;
}

th {

border:none;
background-color: hsl(0, 0%, 20%);
color:white;
}
table {
	border: none;
}

button, select {
	margin: 10px;
}
/***************************************
 *  Progress bar
***************************************/

#pDiv {
	z-index: 100;
	border: 1px solid black;
	border-radius: 0px;
	background-color: white;
	box-shadow: 0px 0px 2px 4px white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	padding: 10px;
}
progress {
	margin-top: 5px;
	display: block;
	background: none;
	border: 1px solid black;
	color: gray;
	border-radius: 7px;
}
progress::-moz-progress-bar{
	background-color: hsl(220, 20%, 50%);
	border: none;
	border-radius: 7px;
}

/************************************************
 * Graphics
 * ***********************************************/

.dygraph-title {
	font-size: medium;
}
