html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

.deck-container {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto; }
  .js .deck-container {
    visibility: hidden; }
  .ready .deck-container {
    visibility: visible; }
  .touch .deck-container {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none; }

.deck-loading {
  display: none; }

.slide {
  width: auto;
  min-height: 100%;
  position: relative; }

.deck-before, .deck-previous, .deck-next, .deck-after {
  position: absolute;
  left: -999em;
  top: -999em; }

.deck-current {
  z-index: 2; }

.slide .slide {
  visibility: hidden;
  position: static;
  min-height: 0; }

.deck-child-current {
  position: static;
  z-index: 2; }
  .deck-child-current .slide {
    visibility: hidden; }
  .deck-child-current .deck-previous, .deck-child-current .deck-before, .deck-child-current .deck-current {
    visibility: visible; }

.goto-form {
  position: absolute;
  z-index: 3;
  bottom: 10px;
  left: 50%;
  height: 1.75em;
  margin: 0 0 0 -9.125em;
  line-height: 1.75em;
  padding: 0.625em;
  display: none;
  background: #ccc;
  overflow: hidden;
  border-radius: 10px; }
  .goto-form label {
    font-weight: bold; }
  .goto-form label, .goto-form input {
    display: inline-block;
    font-family: inherit; }
  .deck-goto .goto-form {
    display: block; }

#goto-slide {
  width: 8.375em;
  margin: 0 0.625em;
  height: 1.4375em; }

@media print {
  .goto-form, #goto-slide {
    display: none; } }
.deck-menu {
  overflow: auto; }
  .deck-menu .slide {
    background: #eee;
    position: relative;
    left: 0;
    top: 0;
    visibility: visible;
    cursor: pointer; }
  .no-csstransforms .deck-menu > .slide {
    float: left;
    width: 22%;
    height: 22%;
    min-height: 0;
    margin: 1%;
    font-size: 0.22em;
    overflow: hidden;
    padding: 0 0.5%; }
  .csstransforms .deck-menu > .slide {
    -webkit-transform: scale(0.22) !important;
    -ms-transform: scale(0.22) !important;
    transform: scale(0.22) !important;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0 48px;
    margin: 12px; }
  .deck-menu iframe, .deck-menu img, .deck-menu video {
    max-width: 100%; }
  .deck-menu .deck-current, .no-touch .deck-menu .slide:hover {
    background: #ddf; }
  .deck-menu.deck-container:hover .deck-prev-link, .deck-menu.deck-container:hover .deck-next-link {
    display: none; }

.deck-status {
  position: absolute;
  bottom: 10px;
  right: 5px;
  color: #888;
  z-index: 3;
  margin: 0; }

body > .deck-container .deck-status {
  position: fixed; }

@media print {
  .deck-status {
    display: none; } }
.csstransitions.csstransforms {
  overflow-x: hidden; }
  .csstransitions.csstransforms .deck-container > .slide {
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out; }
  .csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide {
    position: absolute;
    top: 0;
    left: 0; }
    .csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .slide {
      position: relative;
      left: 0;
      top: 0;
      -webkit-transition: -webkit-transform 500ms ease-in-out, opacity 500ms ease-in-out;
      transition: transform 500ms ease-in-out, opacity 500ms ease-in-out; }
    .csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .deck-next, .csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .deck-after {
      visibility: visible;
      -webkit-transform: translate3d(200%, 0, 0);
      -ms-transform: translate(200%, 0);
      transform: translate3d(200%, 0, 0); }
  .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-previous {
    -webkit-transform: translate3d(-200%, 0, 0);
    -ms-transform: translate(-200%, 0);
    transform: translate3d(-200%, 0, 0); }
  .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-before {
    -webkit-transform: translate3d(-400%, 0, 0);
    -ms-transform: translate(-400%, 0);
    transform: translate3d(-400%, 0, 0); }
  .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-next {
    -webkit-transform: translate3d(200%, 0, 0);
    -ms-transform: translate(200%, 0);
    transform: translate3d(200%, 0, 0); }
  .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-after {
    -webkit-transform: translate3d(400%, 0, 0);
    -ms-transform: translate(400%, 0);
    transform: translate3d(400%, 0, 0); }
  .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-before .slide, .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-previous .slide {
    visibility: visible; }
  .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-child-current {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }

html, body, .slide {
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

.gs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  width: 90vw; }

.right {
  width: 45vw;
  margin-right: 2vw;
  margin-left: 2vw;
  float: right; }

#title-slide .gs {
  width: 55vw;
  height: 25vh; }

header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vh;
  transform: translate(0%, -50%); }

.slide > h1 {
  padding-bottom: 8px;
  padding-left: 8px;
  border-bottom: 1px solid black; }

rect {
  opacity: 0.1; }

rect:nth-of-type(odd) {
  fill: blue; }

rect:nth-of-type(even) {
  fill: green; }

line {
  stroke: black; }

text.help {
  transform: translate(0, 0.25em); }

pre, .ventyamlSource {
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  transition: all 1s;
  overflow: scroll;
  width: 100%;
  height: 100px;
  font-weight: bold;
  line-height: 140%;
  font-size: 120%; }

.ventyamlSource.hidden {
  opacity: 0;
  border: none;
  padding: none;
  height: 0px;
  overflow: scroll;
  transition: all 1s; }

pre, figure.ventyaml {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.gs path.surface {
  stroke: none;
  fill: none; }
.gs #waveformGroup path {
  display: visible;
  stroke-width: 1px;
  fill: none;
  stroke: black; }

.gs:not(.nogrid) .axe {
  display: none; }
.gs:not(.nogrid) path.domain {
  stroke: black;
  fill: none; }
.gs:not(.nogrid) .gridX line, .gs:not(.nogrid) .gridY line {
  stroke-width: 1px;
  stroke: silver;
  stroke-dasharray: 5 5; }
.gs:not(.nogrid) .gridX text {
  transform: translate(0, 8px); }
.gs:not(.nogrid) .gridY text {
  transform: translate(-8px, 0); }

.gs.nogrid .axe {
  stroke-width: 2px;
  stroke: black;
  visibility: visible; }
.gs.nogrid .gridX line, .gs.nogrid .gridY line {
  display: none; }
.gs.nogrid .gridX text, .gs.nogrid .gridY text {
  display: none; }
.gs.nogrid path.domain {
  display: none; }
