<!DOCTYPE html>

<meta charset="utf-8">
<meta name="description" content="simvent.js is a javascript library that modelize mechanical ventilation of lungs by medical ventilators" />
<meta name="description" content="simvent.js is a javascript library that modelize mechanical ventilation of lungs by medical ventilators. It ofers a presure controler modes and a VDR-4-like ventilator model." />
<meta name="keywords" content="simvent, mechanical ventilation, VDR, lung, capnography" />

<title>simvent.js - mechanical ventilation simulation library</title>

<link rel="stylesheet" href="{{ site.baseurl }}/css/layout.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/typography.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/colors.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/nav.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/tables.css" />

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/vs.min.css">
<link rel="stylesheet" href="https://rawgit.com/ProgRT/graphsimple.js/master/css/gs-scale-clear.css" />

<script src="https://rawgit.com/ProgRT/simvent.js/master/simvent.js"></script>
<script src="https://rawgit.com/ProgRT/graphsimple.js/master/graphsimple.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>

<script>hljs.initHighlightingOnLoad();</script>
<script>
	gs.defaults["margeG"]=80;
	gs.defaults["margeD"]=5;
	gs.defaults["margeH"]=5;
	gs.defaults["margeB"]=50;
</script>

<style>
.ligneZero {
	stroke: gray;
	}
</style>

