ul.controls

  list-style-type: none

  li a

    border: 1px solid black
    padding-left: 10px
    padding-right: 10px
    border-radius: 10px
    font-size: 150%
    font-weight: bold
    font-family: serif
    opacity: .2

  li a:target
    opacity: 1
