// Rules:
// - Everything about div layout should be here (width, height, positionning, overflow)
// - Only rules about div layout should be here (no styling)

$breakMedium: 800px
$breakLarge: 1300px
$graphWidth: 800px
$panelWidth: 275px

#fpPanel
  position: fixed
  top: 0px
  right: 0px
  height: 100%
  overflow-x: hidden


svg
  display: block
  height: 30vh
  margin-left: none
  margin-right: auto
  margin-top: 5px
  margin-bottom: 5px

@media (max-width: $breakMedium)
  svg
    width: 100%

  #fpPanel.hidden
    right: -100%

@media (min-width: $breakMedium)
  svg
    width: calc(100vw - #{$panelWidth})

@media (min-width: $breakLarge)
  svg
    width: $graphWidth
    margin-left: auto
    margin-right: auto
