<!DOCTYPE html>
<meta charset="utf-8">
<title>simvent.js - mechanical ventilation simulation library</title>
<link rel="stylesheet" href="css/layout.css" />
<link rel="stylesheet" href="css/typography.css" />
<link rel="stylesheet" href="css/colors.css" />
<link rel="stylesheet" href="css/nav.css" />
<link rel="stylesheet" href="https://rawgit.com/ProgRT/graphsimple.js/master/css/graphsimple-clear.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/agate.min.css">

<script src="https://rawgit.com/ProgRT/simvent.js/master/simvent.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script src="https://rawgit.com/ProgRT/graphsimple.js/master/graphsimple.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>

<script>hljs.initHighlightingOnLoad();</script>

<div id="content">
	<ul class="nav">
	{% for page in site.pages %}
		<li> <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
	{% endfor %}
	</ul>
	<h1>{{ page.title }}</h1>
{{ content }}
</div>
