<link rel="stylesheet" href="css/layout.css" />
<link rel="stylesheet" href="css/typography.css" />
<link rel="stylesheet" href="css/colors.css" />
<link rel="stylesheet" href="https://raw.githubusercontent.com/ProgRT/graphsimple.js/master/css/graphsimple-clear.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/agate.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{ page.extra_head }}
<div id="content">
	<h1>{{ page.title }}</h1>
{{ content }}
</div>
